################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/astra-dotnet-samples/.vs/AstraDotnetSamples
# Build artifacts
bin/
obj/
